<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
body
         {
            background-image: url({{url_for('static', filename='images/profile.jpg')}});
	        background-size: cover;
 	        background-attachment: fixed;
         }
    </style>
  </head>
  <body>
    {% include "navbar.html"%}
    <br/>
	<h2>Available NFTs</h2><br>
	<table class="table">
		<tbody>
			<thead class="thead-light">
    <tr>
      <th scope="col">Token ID:</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col"></th>
    </tr>
    {% for avail_data in avail_nft_sql%}
    <tr>
      <td>{{avail_data[0]}}</td>
      <td>{{avail_data[2]}}</td>
      <td>{{avail_data[3]}}</td>   
      <td><a href=buy class="btn btn-primary">Buy Now</a></td>
    </tr>
			{% endfor %}
		</tbody>
	</table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>