<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body
        {
            background-image: url({{url_for('static', filename='images/background.png')}});
	        background-size: cover;
 	        background-attachment: fixed;
        }
    </style>
</head>
<body>
<div class='container'>
  <div class='login'>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
      {% endwith %}
     <form method = "POST" action = "/">
	     <input type = "text" 	name = "login_name" placeholder = " Enter UserName" required>
	     <input type = "password" 	name = "password" placeholder = " Enter Password" required>
	     <input type = "submit" value ="Login">
     </form>
     <h1><a href="{{url_for('signup')}}">SignUp</a></h1>
  </div>
</div>
</body>
</html>