<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="{{url_for('static', filename='css/owned_nfts.css')}}">
    <title>NFT Trading Platform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
	  body
         {
            background-image: url({{url_for('static', filename='images/profile.jpg')}});
	        background-size: cover;
 	        background-attachment: fixed;
         }
    </style>
  </head>
  <body>
    {% include "navbar.html"%}
    <br/>

    <div align="center">
        <h2>Add a new NFT to Sell</h2><br/>
        <b> <center> NFT Details</center></b><br/>
        <form action = "/sell" method = "post"> 
            <label for="nft_name">NFT Name : </label>
            <input type="text" name="nft_name" placeholder="Enter Nft name" required>
            <p><br/>
            <label for="market_value">NFT Price  : </label>
            <input type="number" name="market_value" placeholder="Enter Nft price" required>
            </p><br/>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <h1>{{msg}}</h1>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class = "edit"><input type = "submit"  name = "Add"></div>
        </form>
    </div>   
    <br>    
</body>
</html>
