<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <meta charset="UTF-8">
	<title>Signup</title>
	<style>
        body
        {
            background-image: url({{url_for('static', filename='images/signup_background.jpg')}});
	        background-size: cover;
 	        background-attachment: fixed;
        }
    </style>
</head>
<body>
<div class='container'>
  <div class='signup'>
    <form  method = "post" action = "/signup">
		<div class='box'>
			<input type = "text" name = "first_name" placeholder = " Enter First Name" required>
		</div>
		<div class='box'>
			<input type = "text" name = "last_name"	placeholder = " Enter Last Name" required>
		</div>

	    <input type = "text" name = "phone_number" placeholder = " Enter Phone Number" required>
		<input type = "text" name = "cell_phone_number" placeholder = " Enter Cell Phone Number" required>
	    <input type = "email" name = "email" placeholder = " Enter Email" required><br>

		<input type = "text" name = "street" placeholder = " Enter Street" required>
		<div class='box2'>
			<input type = "text" name = "city" placeholder = " Enter City" required>
		</div>
		<div class='box2'>
			<input type = "text" name = "state"	placeholder = " Enter State" required>
		</div>
		<input type = "text" name = "zip_code" placeholder = " Enter Zip Code" required><br>

		<input type = "text" name = "login_name" placeholder = " Enter User Name" required>
		{% with messages = get_flashed_messages() %}
        	{% if messages %}
            	{% for msg in messages %}
                	<h1>{{msg}}</h1>
            	{% endfor %}
        	{% endif %}
      	{% endwith %}
	    <input type = "password" name = "password" placeholder = " Enter Password" required>
	    <input type = "submit"  value = "signup">
    </form><br>
	  <div class = 'out'>
			<a href="{{url_for('index')}}"><i class="fas fa-sign-in-alt"></i></a>
	  </div>
  </div>
</div>
</body>
</html>