<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
	  body
         {
            background-image: url({{url_for('static', filename='images/profile.jpg')}});
	        background-size: cover;
 	        background-attachment: fixed;
         }
    </style>
</head>

<title>Transaction History</title>

<body>
    {% include "navbar.html"%}
    <br />
    <h2>Transaction History</h2><br>
    <br>
    <br>
    <main class="container p-5">
       
    <table class="table">
        <thead>
            <tr>
                <th scope="col">NFT Address</th>
                <th scope="col">Commission Type</th>
                <th scope="col">Commission </th>
                <th scope="col">TimeStamp</th>
                <th scope="col">Ethereum Value</th>
                <th scope="col">Cancel Transaction</th>

            </tr>
        </thead>
        <tbody>
            {% for transaction in transaction_details %}
            <tr>
                <td>{{ transaction["ethereum_nft_address"]}}</td>
                <td>{{ transaction["commission_type"]}}</td>
                <td>{{ transaction["commission_paid"]}}</td>
                <td>{{ transaction["date"] }}</td>
                <td>{{ transaction["ethereum_value"]}}</td>
                <td>{{ transaction["cancelled"] }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    </main>

    <br>
    <br>
    <br>
    <br>
</body>

</html>