Client
	Signup
	Login
	Logout
	Profile page
		Change information
	Search for NFT
	Buy NFT
	Sell NFT
	Cancel Transaction
	Cancel payment
	View payments
	View transactions
		Search their history

Manager
	Login
	Logout
	view dashboard
		Limit by date
		Display as a table, if time permits: graph (numpy/pandas)
	
