<!-- 
Michael Zayne Lumpkin, mzl190000
Siddhi Mahesh Potdar, smp220001
Desong Li, dxl180019
Tanya Sharma, txs220004
Priya Singh, pxs220067 

 -->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static', filename='css/edit.css')}}">
    <title>Title</title>
    <style>
	  body
         {
            background-image: url({{url_for('static', filename='images/profile.jpg')}});
	        background-size: cover;
 	        background-attachment: fixed;
         }
    </style>
</head>
<body>
  <h2>Edit Address</h2>
	<form method = "post" action = "/edit_address" >
	<div class = "change">
	<table>
	          <tr>
	          <td>Address:</td>
	          <td><input type = "text" name = "address" placeholder = " Enter Street Address" required></td>
	          <td></td>
	          </tr>

	          <tr>
	          <td>City:</td>
	          <td><input type = "text" name = "city" placeholder = " Enter City" required></td>
	          <td></td>
	          </tr>

	          <tr>
	          <td>State:</td>
	          <td><input type = "text" name = "state" placeholder = " Enter State" required></td>
	          <td></td>
	          </tr>

	          <tr>
	          <td>Zip Code:</td>
	          <td><input type = "text" name = "zip" placeholder = " Enter Zip Code" required></td>
	          <td></td>
	          </tr>
	 </table>
	 </div>
	 <br>
	 <div class = "edit">
		<input type = "submit"  name = "submit">
	</div>
	</form>
	<br>
    <br>
</body>
</html>