<!-- 
Michael Zayne Lumpkin, mzl190000
Siddhi Mahesh Potdar, smp220001
Desong Li, dxl180019
Tanya Sharma, txs220004
Priya Singh, pxs220067 

 -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
	  body
         {
            background-image: url({{url_for('static', filename='images/profile.jpg')}});
	        background-size: cover;
 	        background-attachment: fixed;
         }
    </style>
  </head>
  <body>
    {% include "navbar.html"%}
    <br/>
	<h2>PROFILE</h2><br>
	<table>
		<tbody>
			{% for trader in trader_detail%}
			<tr>
				<td><a href="{{url_for('edit_user_info')}}">Edit User Info</a></td>
			</tr>
			<tr>
				<td>Name:</td>
	          	<td>{{trader[2]}}</td>
	          	<td>{{trader[3]}}</td>
			</tr>
			<tr>
	          	<td>Phone #:</td>
	          	<td>{{trader[4]}}</td>
	          	<td></td>
			</tr>
			<tr>
	          	<td>Cell Phone #:</td>
	          	<td>{{trader[5]}}</td>
			</tr>
			<tr>
	          	<td>Email:</td>
	          	<td>{{trader[6]}}</td>
	          	<td></td>
			</tr>
			<tr>
	          	<td>ETH Address:</td>
	          	<td>{{trader[1]}}</td>
	          	<td></td>
			</tr>
			<tr>
				<td><a href="{{url_for('edit_login')}}">Edit Login Info</a></td>
			</tr>
			<tr>
	          	<td>UserName:</td>
	          	<td>{{trader[9]}}</td>
	          	<td></td>
			</tr>
			<tr>
	          	<td>Password:</td>
	          	<td>{{trader[14]}}</td>
	          	<td></td>
			</tr>
			<tr>
	          	<td>Level:</td>
	          	<td>{{trader[10]}}</td>
	          	<td></td>
			</tr>
			<tr>
				<td><a href="{{url_for('payment')}}">Edit Balance</a></td>
				<td><a href="{{url_for('payment_history')}}">Payment History</a></td>
			</tr>
			<tr>
	          	<td>Fiat Balance:</td>
	          	<td>{{trader[11]}}</td>
	          	<td></td>
			</tr>
			<tr>
	          	<td>ETH Balance:</td>
	          	<td>{{trader[12]}}</td>
	          	<td></td>
			</tr>
			{%endfor%}

			{% for address in address_detail%}

			<tr>
				<td><a href="{{url_for('edit_address')}}">Edit Address</a></td>
			</tr>

			<tr>
	          	<td>Street:</td>
	          	<td>{{address[0]}}</td>
	          	<td>City:</td>
	          	<td>{{address[1]}}</td>
			</tr>
			<tr>
	          	<td>State:</td>
	          	<td>{{address[2]}}</td>
	          	<td>Zipcode:</td>
				<td>{{address[3]}}</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
