/* Michael Zayne Lumpkin, mzl190000
Siddhi Mahesh Potdar, smp220001
Desong Li, dxl180019
Tanya Sharma, txs220004
Priya Singh, pxs220067 */

body {
    line-height: 1.25;
    font-family: "Times New Roman", Times, serif;
    color: white;
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom, #0d5ed9, #0095ff, #00bdda, #00db84, #a8eb12);

}


h2{
  float: center;
  text-align:center;
  color: white;
}

table {
   border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    height: 80%;
    table-layout:auto;
    color: white;
}

table tr {
  border-radius: 10px 10px 10px 10px;
  background-image: url(../images/profile1.jpg);
  color: white;  
}


table td {
  font-size: 17px;
  padding: 10px;
    text-align: left;
    color: white;
}


table td a{
  margin: auto;
    text-decoration: none;
    border: 2px solid BLACK;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

a:hover{
  background-color: gray;
}

.checkout_style{
  text-align: center;
  vertical-align: middle;
  color: white;
}