body {
    line-height: 1.25;
    font-family: "Times New Roman", Times, serif;
}


h2{
  float: center;
  text-align:center;
}

table {
   border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    margin: auto;
    width: 50%;
    height: 80%;
    table-layout:auto;
}

table tr {
  border-radius: 10px 10px 10px 10px;
}


table td {
  font-size: 17px;
  padding: 10px;
    text-align: left;
}


table td a{
  margin: auto;
    text-decoration: none;
    border: 2px solid BLACK;
    border-radius: 5px;
    font-size: 20px;
}

a:hover{
  background-color: gray;
}

.checkout_style{
  text-align: center;
  vertical-align: middle;
}