/* Michael Zayne Lumpkin, mzl190000
Siddhi Mahesh Potdar, smp220001
Desong Li, dxl180019
Tanya Sharma, txs220004
Priya Singh, pxs220067 */

body {
 	font: 18px;
 	font-family: "Times New Roman", Times, serif;
}

.my_container {
    width: 320px;
    height: 300px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.login {
	background-color: white;
	border: 3px solid BLACK;
  	width: 300px;
  	height: 410px;
  	padding: 10px;
  	border-radius: 10px;
  	text-align: center;
}


.login [type=text]{
  	display: block;
  	margin: auto;
  	margin-top: 50px;
  	width: 80%;
  	border: 1px solid BLACK;
  	border-radius: 5px;
  	height: 50px;
  	margin-bottom: 10px;
  	font-size: 16px;
  	color: black;

}



.login [type=password]{
  	display: block;
  	margin: auto;
  	width: 80%;
  	border: 1px solid BLACK;
  	border-radius: 5px;
  	height: 50px;
  	margin-bottom: 10px;
  	font-size: 16px;
  	color: black;

}

.login [type=submit] {
  	margin-top: 25px;
  	margin-bottom: 25px;
  	width: 30%;
  	border: 1px solid BLACK;
  	border-radius: 5px;
  	height: 50px;
  	font-size: 20px;
  	color: black;
}

.login a {
    display: block;
  	margin: auto;
    width: 30%;
  	border: 1px solid BLACK;
  	border-radius: 5px;
  	height: 30px;
  	color: black;
  	font-size: 20px;
  	text-decoration: none;
}

.login h1{
    text-align: center;
    font: 18px;
}